<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--通过namespace绑定上面创建的接口类，文件名就是【数据对象类名+Mapper.xml】-->
<mapper namespace="com.solplatform.mapper.CaseMapper">

    <insert id="addCase" parameterType="com.solplatform.entity.CaseEntity">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select REPLACE(UUID(),'-','')
        </selectKey>
        insert into testcase
        (id,case_name,case_level,assert_type,assert_header_list,assert_resbody_list,create_time,update_time,interface_in_case_id,interface_id)
        values
        (#{id},#{caseName},#{caseLevel},#{assertType},
        #{assertHeaderList, jdbcType=VARCHAR, typeHandler=com.solplatform.handler.StringAndListHandler},
        #{assertResbodyList, jdbcType=VARCHAR, typeHandler=com.solplatform.handler.StringAndListHandler},
        now(),now(),#{httpEntity.id},#{interfaceId})
    </insert>

    <select id="findCasebyInterfaceId" parameterType="java.lang.String" resultMap="caseWithHttp">
        select tc.id,tc.case_name,tc.case_level,tc.assert_type,tc.assert_header_list,tc.assert_resbody_list,tc.create_time,tc.update_time,tc.interface_id,tc.interface_in_case_id,
         ic.id as interfaceId,ic.interface_name,ic.methods,ic.headers,ic.host,ic.api_url,ic.body,ic.params,ic.time_out,ic.component_type,ic.create_time,ic.update_time
        from testcase tc
        left join interface ic
        on tc.interface_in_case_id=ic.id
        where tc.interface_id=#{0}
    </select>
    <resultMap id="caseWithHttp" type="com.solplatform.entity.CaseEntity">
        <result property="id" column="id"/>
        <result property="caseName" column="case_name"/>
        <result property="caseLevel" column="case_level"/>
        <result property="assertType" column="assert_type"/>
        <result property="assertHeaderList" column="assert_header_list"
                typeHandler="com.solplatform.handler.StringAndListHandler"/>
        <result property="assertResbodyList" column="assert_resbody_list"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="interfaceId" column="interface_id"/>
        <result property="interfaceInCaseId" column="interface_in_case_id"/>
        <association property="httpEntity" javaType="com.solplatform.entity.HttpEntity">
            <!--这里id映射的是起了别名的interface表中的id-->
            <result property="id" column="interfaceId"/>
            <result property="interfaceName" column="interface_name"/>
            <result property="methods" column="methods"/>
            <result property="apiUrl" column="api_url"/>
            <result property="host" column="host"/>
            <result property="timeOut" column="time_out"/>
            <result property="headers" column="headers"/>
            <result property="body" column="body"/>
            <result property="params" column="params"/>
            <result property="componentType" column="component_type"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
        </association>
    </resultMap>


    <update id="updateCase" parameterType="com.solplatform.entity.CaseEntity">
        update testcase
        <set>
            <if test="caseName != null">
                case_name = #{caseName},
            </if>
            <if test="caseLevel != null">
                case_level = #{caseLevel},
            </if>
            <if test="assertType != null">
                assert_type = #{assertType},
            </if>
            <if test="assertHeaderList != null">
                assert_header_list =
                #{assertHeaderList, jdbcType=VARCHAR, typeHandler=com.solplatform.handler.StringAndListHandler},
            </if>
            <if test="assertResbodyList != null">
                assert_resbody_list =
                #{assertResbodyList, jdbcType=VARCHAR, typeHandler=com.solplatform.handler.StringAndListHandler},
            </if>
            <if test="updateTime != null">
                update_time = now()
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="findCaseByCaseIds" resultMap="caseWithHttpId">
        select * from testcase
        where id in
        <foreach item="item" collection="caseids" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>
    <resultMap id="caseWithHttpId" type="com.solplatform.entity.CaseEntity">
        <result property="id" column="id"/>
        <result property="caseName" column="case_name"/>
        <result property="caseLevel" column="case_level"/>
        <result property="assertType" column="assert_type"/>
        <result property="assertHeaderList" column="assert_header_list"
                typeHandler="com.solplatform.handler.StringAndListHandler"/>
        <result property="assertResbodyList" column="assert_resbody_list"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="interfaceId" column="interface_id"/>
        <result property="interfaceInCaseId" column="interface_in_case_id"/>
    </resultMap>

</mapper>